@import 'tailwindcss';


:root {
  /* 🎨 Light Theme Colors */

  /* Backgrounds */
  --color-bg: #ececec;
  --color-header-footer: #264653;
  --color-card-bg: #FFFFFF;
  --color-card-border: #E0E0E0;

  /* Buttons */
  --color-primary-btn: #F4A261;
  --color-secondary-btn: #2A9D8F;
  --color-secondary-btn-hover: #2a9d90b8; /* Keeping the same color for hover as well */

  /* Text */
  --color-text-primary: #264653;
  --color-text-secondary: #666666;

  /* Hover Effects */
  --color-hover: #E9C46A;
  --color-link-hover: #E76F51;
  --color-primary-btn-hover: #ee4a22;

  /* Shadows */
  --color-shadow: rgba(0, 0, 0, 0.08);

  --color-input-placeholder: #999999;

  --color-hover-text: #FFFFFF;

  --color-hover-bg: #000000; /* solid black for light theme */
  --color-hover-text: #ffffff;


  --color-gradient-start: rgba(0, 0, 0, 0);
  --color-gradient-end: rgba(0, 0, 0, 0.3);


  --color-shadow-hover: rgba(0, 0, 0, 0.5);
  --color-rating-star: #facc15; /* amber-400 */

  --color-primary-button: rgba(83, 211, 36, 0.8); /* semi-transparent white for primary button */
  --color-primary-button-hover:rgba(83, 211, 36, 0.6);

  
  --color-primary-back-btn: #E76F51;

}



[data-theme = 'dark'] {
    /* 🌙 Dark Theme Colors */

  /* Backgrounds */
  --color-bg: #1E293B;
  --color-header-footer: #1A1A1A;
  --color-card-bg: #2C2C2C;
  --color-card-border: #444444;

  /* Buttons */
  --color-primary-btn: #F4A261;
  --color-secondary-btn: #2A9D8F;
  --color-secondary-btn-hover: #2a9d90b8;

  /* Text */
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;

  /* Hover Effects */
  --color-hover: #F4A261;
  --color-link-hover: #E76F51;
  --color-primary-btn-hover: #ee4a22;

  /* Shadows */
  --color-shadow: rgba(0, 0, 0, 0.4);

  --color-input-placeholder: #888888;

  --color-hover-text: #FFFFFF;

  --color-hover-bg: #111111; /* deep dark for dark theme */
  --color-hover-text: #ffffff;

   --color-gradient-start: rgba(0, 0, 0, 0);
  --color-gradient-end: rgba(0, 0, 0, 0.7);

    --color-shadow-hover: rgba(0, 0, 0, 0.5);
  --color-rating-star: #facc15; /* amber-400 */

  --color-primary-button: rgba(121, 243, 76, 0.8); /* semi-transparent white for primary button */
  --color-primary-button-hover:rgba(121, 243, 76, 0.6);

  --color-primary-back-btn: #E76F51; /* semi-transparent white for primary button */
}


*{
    transition: all 0.3s ease-in-out;
}

input::placeholder {
  color: var(--color-text-secondary);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}